<h3>Reactive form</h3>
<div>

</div>
<form [formGroup]="form">

  <div class=".container">
    <div>
      <legend>Name1: </legend>


      <input formControlName="name1" name="name1" id="name1" type="text">

      <!-- here, Normaly we check for error exists
      and the cotrol becomes dirty or not -->

    </div>

    <div>
      <legend>Name2: </legend>
      <input formControlName="name2" name="name2" id="name2" type="text" />

    </div>
  </div>
</form>

<hr>

  <h3>Template-driven form</h3>
<div>

</div>
<div>
  <legend>Name1:  </legend>
  <input [(ngModel)]="name1" required  minlength="3"/>
</div>
